#nav{
    width:100%;
    background-color: #F2F2F2;
    list-style:none;
    border-bottom: 1px solid #585858; 
    border-top: 1px solid #585858;
    padding:0;
    margin: 0 0 3em 0;
    float:left;
}

#nav li{
    float:left;
}

#nav li a{
    display:block;
    padding: 8px 20px;
    text-decoration: none;
    font-weight: bold;
    color:#585858;
    border-right: 1px solid #585858;
}

#nav li a:hover{
    color:#81DAF5;
    background-color:white;
}

h1{
    height:5.8%;
    margin:auto;
    padding:0;
    color: #fff;
    background-color:#81DAF5;
}
	
body{
    margin: auto;
    background-color:white;
}

p{
    font-size:90%;
}

body{
    background-color:#F2F2F2;
}

#hbox1, #hbox2, #hbox3, #hbox4{
    border: 1px solid black;
    margin: 20px;
	background: white;
	padding: 20px;
	box-shadow: 5px 5px 3px #999;
	clear: both;
}
